@mixin flexible($width) {
  display: flex;
  width: $width;
}

@mixin gridable($width) {
  display: grid;
  width: $width;
}

@mixin unmarkedList($padding, $margin) {
  list-style-type: none;
  padding: $padding;
  margin: $margin;
}

@mixin link($color) {
  color: $color;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s ease;
  &:hover {
    opacity: 0.7;
  }
}

@mixin button($width) {
  @include flexible($width);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.5s ease;
  &:hover {
    opacity: 0.8;
  }
}
