@mixin flexible($width) {
  display: flex;
  width: $width;
}

@mixin gridable($width) {
  display: grid;
  width: $width;
}

@mixin unmarkedList($padding, $margin) {
  list-style-type: none;
  padding: $padding;
  margin: $margin;
}

@mixin link($color) {
  color: $color;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s ease;
  &:hover {
    opacity: 0.7;
  }
}

@mixin button() {
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.5s ease;
  &:hover {
    opacity: 0.8;
  }
}
@mixin buttonOrder {
  background-color: #3e9cdc;
  border: 1px solid #fff;
  color: #fff;
}

@mixin container($justify-content) {
  padding: 0 20px;
  box-sizing: border-box;
  max-width: calc($max-width + 40px);
  justify-content: $justify-content;
  align-items: center;
}

@mixin title {
  line-height: 1.2;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: $color-text-primary;
}

@mixin backgroundImgHeight {
  min-height: calc($header-height + 750px);
  @media screen and (max-width: 1024px) {
    min-height: calc($header-height + 750px - 80px);
  }
}

@mixin formElement {
  height: 48px;
  box-sizing: border-box;
  background-color: rgba($color-bg-text-secondary, 0.85);
  color: $color-bg-text-order;
  border: 1px solid $color-bg-text-secondary;
  line-height: 1.2;
  font-size: 18px;
  border-radius: 3px;
  outline: none;
  width: 100%;
}

@mixin focus() {
  background-color: $form-bg-select;
  border-color: $form-bg-select;
  color: $color-bg-text-secondary;
}

@mixin thumb() {
  appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: $color-text-logo-decorate;
  border: 3px solid $color-border-thumb;
  transition: transform 0.3s ease-in-out;
  box-sizing: border-box;
  &:hover {
    transform: scale(1.07);
  }
  &:active {
    transform: scale(0.93);
  }
}

@mixin footerGap() {
  gap: 38px;
  @media screen and (max-width: 576px) {
    gap: 14px;
  }
}
