$color-text-dark: #000000;
$color-header-bg: #10101d;
$color-form-text: #272733;
$color-footer-bg: #3d4050;
$color-footer-list: #c3c3c3;
$color-text-light: #ffffff;
$color-active-link: #43abf0;
$color-logo: #42a9ed;
$color-decorate: #3e9cdc;
