$color-text-primary: #000000;
$color-text-footer: #c3c3c3;
$color-text-subtitle: #bbbbbb;
$color-text-btn-secondary: #2a2b30;
$color-text-logo-decorate: #42a9ed;
$color-bg-text-order: #272733;
$color-bg-text-secondary: #ffffff;
$color-bg-header: #10101d;
$color-bg-footer: #3d4050;
$color-bg-text-decorate: #3e9cdc;
$color-link-active: #43abf0;
$color-marker-order: #c4c4c4;
$color-border-thumb: #286690;
$color-border-btn: #6f6d7b;

$max-width: 1170px;
$header-height: 100px;
$form-input-width: 370px;
$form-bg-select: #3d4050;
