@import '../scss/mixins';
@import '../scss/variables';

.root {
  @include gridable(100%);
  grid-template-columns: 1fr;
  justify-items: center;
  box-sizing: border-box;
  height: 100%;
  font-weight: 400;
  font-family: 'Lato', Arial, sans-serif;
  line-height: 1.2;
  font-style: normal;
}

.scroll-lock {
  overflow: hidden;
}

.header,
.main,
.footer {
  @include gridable(100%);
  grid-template-columns: 1fr;
  justify-items: center;
  box-sizing: border-box;
  width: 100%;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  align-items: center;
  height: $header-height;
  background-color: rgba($color-bg-header, 0.9);
  &__container {
    @include container(space-between);
    @include flexible(100%);
    text-transform: uppercase;
  }
  &__logo {
    @include link($color-bg-text-secondary);
    font-weight: 800;
    font-size: 28px;
    font-family: 'Raleway', Arial, sans-serif;
    font-style: normal;
    @media screen and (max-width: 576px) {
      font-size: 26px;
    }
    &_blue {
      color: $color-text-logo-decorate;
    }
  }
  &__menu {
    @include flexible(100%);
    @include unmarkedList(0, 0);
    flex-flow: row nowrap;
    font-weight: 600;
    font-size: 13px;
    gap: 60px;
    @media screen and (max-width: 1024px) {
      gap: 40px;
    }
    @media screen and (max-width: 720px) {
      position: fixed;
      top: 0;
      right: -320px;
      z-index: 1;
      justify-content: center;
      flex-direction: column;
      align-content: center;
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      max-width: 320px;
      height: 100vh;
      font-size: 18px;
      background-color: $color-bg-header;
      visibility: hidden;
      opacity: 0;
      transition: 0.5s;
      &_opened {
        right: 0;
        display: flex;
        visibility: visible;
        opacity: 1;
        transition: 0.5s;
      }
    }
    &-link {
      @include link($color-bg-text-secondary);
      &_active {
        color: $color-link-active;
      }
    }
    &-button {
      display: none;
      @media screen and (max-width: 720px) {
        @include flexible(32px);
        @include button();
        z-index: 2;
        height: 32px;
        padding: 0;
        background-color: transparent;
        background-size: contain;
        border: none;
        border-radius: 0;
      }
    }
  }
  &__nav {
    @include flexible(auto);
  }
}
.main {
  position: relative;
  top: -$header-height;
  z-index: 0;
  height: calc(100% + $header-height);
  background-color: $color-bg-text-order;
}

.about {
  @include gridable(100%);
  @include backgroundImgHeight();
  justify-items: center;
  height: 100vh;
  background: url('/src/images/background.png') top no-repeat;
  background-size: cover;

  &__article {
    @include gridable(100%);
    @include container(space-between);
    grid-template-areas:
      'title title  '
      'text text'
      'button-order button-more';
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(4, min-content);
    padding-top: calc($header-height + 103px);
    font-size: 20px;
    column-gap: 30px;
    gap: 80px 30px;
    @media screen and (max-width: 1024px) {
      padding-top: calc($header-height + 103px - 20px);
    }
    @media screen and (max-width: 576px) {
      grid-template-areas:
        'title '
        'text'
        'button-order'
        'button-more';
      grid-template-columns: 1fr;
      justify-items: center;
      align-content: initial;
      align-items: start;
      gap: 20px;
    }
    @media screen and (max-width: 576px) {
      font-size: 16px;
    }
  }

  &__title {
    @include flexible(100%);
    @include title();
    grid-area: title;
    justify-content: center;
    flex-flow: column nowrap;
    align-content: center;
    height: 125px;
    font-weight: 700;
    font-size: 48px;
    @media screen and (max-width: 1024px) {
      height: 100%;
    }
    @media screen and (max-width: 720px) {
      font-size: 40px;
    }
    @media screen and (max-width: 576px) {
      font-size: 32px;
    }
    @media screen and (max-width: 480px) {
      font-size: 22px;
    }
    &-decorate {
      color: $color-bg-text-decorate;
    }
  }
  &__text {
    @include flexible(100%);
    grid-area: text;
    flex-flow: column nowrap;
    gap: 10px;
  }
  &__paragraph {
    margin: 0;
    font-weight: 700;
  }
  &__list {
    @include gridable(100%);
    box-sizing: border-box;
    margin: 0 0 0 15px;
    padding: 0;
    list-style-type: '-';
    gap: 5px;
    &-item {
      padding-left: 10px;
    }
  }
  &__button {
    @include button();
    @include flexible(183px);
    height: 43px;
    font-size: 13px;
    border-radius: 4px;
    @media screen and (max-width: 576px) {
      width: 100%;
      max-width: 400px;
    }
    &_order {
      @include buttonOrder();
      grid-area: button-order;
      @media screen and (max-width: 576px) {
        align-self: flex-end;
      }
    }
    &_more {
      grid-area: button-more;
      color: $color-text-btn-secondary;
      background-color: $color-bg-text-secondary;
      border: 1px solid $color-border-btn;
    }
  }
}

.order {
  @include gridable(100%);
  justify-items: center;
  max-width: 1920px;
  padding: 121px 0 151px;
  color: $color-bg-text-secondary;
  background: url('./images/background-order.png') top no-repeat;
  background-size: cover;
  &__container {
    @include container(stretch);
    @include gridable(100%);
    justify-items: center;
  }
  &__title {
    @include title();
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    color: $color-bg-text-secondary;
    &-decorate {
      color: $color-bg-text-decorate;
    }
  }
  &__subtitle {
    margin: 0;
    font-size: 18px;
    text-align: center;
    color: $color-text-subtitle;
  }
  &__scheme {
    @include flexible(100%);
    justify-content: space-between;
    flex-flow: row nowrap;
    margin: 0;
    margin: 80px 0;
    padding: 0;
    gap: 30px 20px;
    @media screen and (max-width: 1150px) {
      justify-content: center;
      flex-wrap: wrap;
    }

    &-item {
      @include gridable(209px);
      position: relative;
      grid-template-rows: min-content 1fr;
      justify-items: center;
      height: 164px;
      font-size: 16px;
      gap: 20px;
      &::before {
        content: '•••••';
        position: absolute;
        position: absolute;
        top: 42px;
        right: 0;
        width: 50%;
        height: 6px;
        font-size: 13px;
        color: $color-marker-order;
        letter-spacing: 18px;
        transform: translateX(63%);
        @media screen and (max-width: 1150px) {
          display: none;
        }
      }
      &:last-child::before {
        display: none;
      }
    }
    &-subtitle {
      margin: 0;
      font-size: 16px;
      text-align: center;
    }
  }
  &__icon {
    width: 100px;
    height: 100px;
  }
}

.form {
  @include gridable(100%);
  justify-items: center;
  gap: 55px;
  &__fieldset {
    @include gridable(100%);
    grid-template-areas:
      'select-system input-email input-name'
      'label-range label-range label-file';
    justify-content: stretch;
    margin: 0;
    padding: 0;
    border: none;
    gap: 30px;
    @media screen and (max-width: 1024px) {
      grid-template-areas:
        'input-email input-name'
        'label-range label-range'
        'select-system label-file';
      max-width: 800px;
    }

    @media screen and (max-width: 576px) {
      grid-template-areas:
        'input-email'
        'input-name'
        'select-system'
        'label-range'
        'label-file';
    }
  }
  &__select {
    @include formElement();
    @include gridable(100%);
    grid-area: select-system;
    padding-right: 10px;
    padding-left: 10px;
    background-image: url(./images/arrow-down.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    appearance: none;
    &:focus {
      @include focus();
      background-image: url(./images/arrow-up.png);
    }
    &-option {
      padding: 10px 0;
      line-height: 1.88;
      background-color: $color-bg-text-order;

      &:checked {
        color: $color-text-logo-decorate;
      }
    }
  }
  &__input {
    @include formElement();
    padding-left: 10px;
    &:focus {
      @include focus();
      &::placeholder {
        @include focus();
      }
    }
    &::placeholder {
      color: $color-bg-text-order;
    }
    &_email {
      grid-area: input-email;
    }
    &_name {
      grid-area: input-name;
    }
    &_range {
      grid-area: input-range;
      max-width: none;
      height: 6px;
      padding: 0;
      background-color: rgba($color-bg-text-secondary, 0.7);
      border: 1px solid $color-bg-text-secondary;
      cursor: pointer;
      appearance: none;
      &:focus {
        background-color: rgba($color-bg-text-secondary, 0.7);
        border: 1px solid $color-bg-text-secondary;
      }
      &::-webkit-slider-thumb {
        @include thumb();
      }
      &::-moz-range-thumb {
        @include thumb();
      }
      &::-ms-thumb {
        @include thumb();
      }
    }
    &_file {
      position: absolute;
      visibility: hidden;
    }
  }
  &__label {
    @include gridable(100%);
    height: 48px;
    @media screen and (max-width: 480px) {
      font-size: 13px;
    }
    &_range {
      grid-area: label-range;
      grid-template-areas:
        'label-text label-value'
        'input-range input-range';
      justify-content: space-between;
    }
    &-text-range {
      grid-area: label-text;
    }
    &-value {
      grid-area: label-value;
    }
    &_file {
      @include button();
      position: relative;
      grid-area: label-file;
      font-size: 15px;
      color: $color-bg-text-order;
      background-color: $color-bg-text-secondary;
      border: 2px solid $color-bg-text-decorate;
      border-radius: 3px;
    }
    &-text-file {
      @include flexible(100%);
      position: absolute;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      gap: 10px;
    }
  }
  &__icon {
    width: 17px;
    height: 21px;
    fill: $color-bg-text-order;
  }
  &__send-button {
    @include button();
    @include buttonOrder();
    @include flexible(100%);
    max-width: $form-input-width;
    height: 48px;
    border-radius: 4px;
  }
}

.footer {
  height: 100%;
  min-height: 80px;
  background-color: $color-bg-footer;
  &__container {
    @include container(space-between);
    @include gridable(100%);
    grid-template-areas: 'copyright payment contacts';
    grid-template-columns: 1fr minmax(347px, 476px) 1fr;
    font-size: 13px;
    @media screen and (max-width: 1210px) {
      grid-template-areas:
        'contacts'
        'payment'
        'copyright';
      grid-template-columns: 1fr;
      justify-content: center;
      justify-items: center;
      padding: 30px 10px;
      gap: 20px;
    }
    @media screen and (max-width: 576px) {
      font-size: 10px;
    }
  }
  &__copyright {
    grid-area: copyright;
    margin: 0;
    padding: 0;
    color: $color-bg-text-secondary;
    white-space: nowrap;
  }
  &__payment {
    @include unmarkedList(0, 0);
    @include gridable(100%);
    @include footerGap();
    grid-area: payment;
    grid-template-columns: repeat(5, min-content);
    justify-content: space-between;
    color: $color-text-footer;
    @media screen and (max-width: 1210px) {
      grid-template-columns: repeat(3, min-content);
      justify-content: center;
    }
    &::before,
    &::after {
      content: '';
      box-sizing: border-box;
      width: 0px;
      height: 18px;
      border-left: 1px solid $color-text-footer;
      @media screen and (max-width: 1210px) {
        content: none;
      }
    }
    &-item {
      @include flexible(100%);
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
    &-name {
      margin: 0;
      white-space: nowrap;
    }
  }
  &__contacts {
    @include unmarkedList(0, 0);
    @include gridable(100%);
    @include footerGap();
    grid-area: contacts;
    grid-template-columns: 1fr min-content;
    @media screen and (max-width: 1210px) {
      grid-template-columns: repeat(2, min-content);
      justify-content: center;
    }
    &-item {
      @include gridable(100%);
      grid-template-columns: repeat(2, min-content);
      justify-content: end;
      align-items: center;
      gap: 10px;
    }
  }
  &__icon {
    width: 20px;
    height: 20px;
  }
  &__link {
    @include link($color-text-footer);
  }
}

.overlay {
  display: none;
  @media screen and (max-width: 720px) {
    position: fixed;
    top: 0;
    right: -150%;
    display: block;
    width: 100%;
    height: 100vh;
    background: $color-bg-header;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    &_active {
      left: 0;

      visibility: visible;

      cursor: pointer;

      opacity: 0.6;
      -webkit-transition: 0.5s;
      transition: 0.5s;
    }
  }
}
.cross {
  @include gridable(100%);
  align-content: space-between;
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  &:before,
  &:after,
  & &__line {
    content: '';
    display: block;
    height: 2px;
    background: $color-bg-text-secondary;
    border-radius: 2px;
    transition: 0.5s;
  }
  &_active {
    &:before {
      transform: translateY(10px) rotate(135deg);
    }
    &::after {
      transform: translateY(-9.5px) rotate(-135deg);
    }
    & .cross__line {
      transform: scale(0);
    }
  }
}
